
:root{
    --poppins: 'Poppins', 'sans-serif';
    --open-sans: 'Open Sans', 'sans-serif';
    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);

    --padding-container: 80px 0;
}

body{
    font-family: var(--open-sans);
}

/* HEADER */
.header {
    min-height: 100vh;
    position: relative;
    background-color: #EDFBFE;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    --padding-container: 60px 0 45px;
}

.container {
    max-width: 1200px;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    padding: var(--padding-container);
}

.nav_logo{
    width: 45%;
    max-width: 160px;
    margin: 0;
}

.nav_logo-huddle{
    width: 100%;
    display: block;
}

.header_cta {
    color: var(--pink);
    text-decoration: none;
    border: 2px solid;
    padding: 6px 16px;
    border-radius: 30px;
    font-weight: 600;
    box-shadow: 0 0 1px;
}

.header_main{
    text-align: center;
    color: var(--very-dark-cyan);
    background-image: url(../images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    padding-bottom: 40px;
}

.header_title{
    font-family: var(--poppins);
    line-height: 1.5em;

}

.header_paragraph{
    width: 90%;
    line-height: 1.5;
    margin: 16px auto;
}

.cta{
    display: inline-block;
    background-color: var(--pink);
    color: #fff;
    text-decoration: none;
    padding: 14px 45px;
    border-radius: 30px;
    margin-top: 16px;
    font-size: 14px;
    font-weight: bold;
}

.header_picture{
    margin-top: 80px;
}

.header_img{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: block;
}

























