
:root{
    --poppins: 'Poppins', 'sans-serif';
    --open-sans: 'Open Sans', 'sans-serif';
    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);

    --padding-container: 80px 0;
}

body{
    font-family: var(--open-sans);
}

/* HEADER */
.header {
    min-height: 100vh;
    position: relative;
    background-color: #EDFBFE;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    --padding-container: 60px 0 45px;
}

.container {
    max-width: 1200px;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    padding: var(--padding-container);
}

.nav_logo{
    width: 45%;
    max-width: 160px;
    margin: 0;
}

.nav_logo-huddle{
    width: 100%;
    display: block;
}

.header_cta {
    color: var(--pink);
    text-decoration: none;
    border: 2px solid;
    padding: 6px 16px;
    border-radius: 30px;
    font-weight: 600;
    box-shadow: 0 0 1px;
}

.header_main{
    text-align: center;
    color: var(--very-dark-cyan);
    background-image: url(../images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    padding-bottom: 40px;
}

.header_title{
    font-family: var(--poppins);
    line-height: 1.5em;

}

.header_paragraph{
    width: 90%;
    line-height: 1.5;
    margin: 16px auto;
}

.cta{
    display: inline-block;
    background-color: var(--pink);
    color: #fff;
    text-decoration: none;
    padding: 14px 45px;
    border-radius: 30px;
    margin-top: 16px;
    font-size: 14px;
    font-weight: 600;
}

.header_picture{
    margin-top: 80px;
}

.header_img{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: block;
}

.main{
    position: relative;
}

/* SECTION */
.section{
    border-radius: 15px;
    box-shadow: 0px 0px 12px 5px rgba(92, 90, 90, 0.1);
    width: 90%;
    height: 540px;
    margin: 0 auto;
    margin-top: 60px;
}

.section_container{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.section_img{
    width: 100%;
    max-width: 360px;
    display: block;
}

.section_texts{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.subtitle{
    color: var(--very-dark-cyan);
    margin-bottom: 16px;
    font-family: var(--poppins);
}

.section_paragraph{
    color: var(--grayish-blue);
    line-height: 1.5em;
    padding: 5px 10px 0 10px;
}

.main{
    margin-bottom: 230px;
}

/* QUESTION */
.question{
    width: 90%;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 12px 5px rgba(92, 90, 90, 0.1);
    margin: 0 auto;
    margin-top: 130px;
    position: absolute;
    top: 1735px;
    left: 20px;
    /* z-index: 9; */
}

.question_texts{
    text-align: center;
    --padding-container: 40px 0;
}

.subtitle_size{
    font-size: 17px;
}

/* FOOTER */
.footer{
    background-color: var(--very-dark-cyan);
    color: var(--grayish-blue);
    font-weight: 600;
}

.footer_container{
    padding-top: 30px;
    padding-bottom: 20px;
}

.footer_figure{
    margin-left: 10px;
    padding-top: 160px;
}

.footer_logo2{
    width: 150px;
}

.footer_contact{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
}

.footer_img{
    width: 15px;
    height: 15px;
    padding-right: 20px;
    padding-top: 7px;
}

.footer_paragraph{
    margin: 0;
    font-size: 14px;
    line-height: 1.8em;
}

.footer_information{
    margin-top: 50px;
}

.footer_item{
    list-style: none;
    padding-left: 0px;
}

.footer_items{
    padding-bottom: 25px;
    font-weight: bold;
}

.footer_link{
    color: var(--grayish-blue);
    text-decoration: none;
}

.footer_social{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 40px;
}

.footer_icon{
    width: 35px;
    height: 35px;
    border: 1px solid var(--grayish-blue);
    border-radius: 50%;
    padding: 5px;
}

.footer_copy{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    margin-bottom: 0px;
}


@media (min-width:768px){

    .header_main{
        display: flex;
    }
    
    .header_texts{
        text-align: left;
        
    }

    .header_title{
        font-size: 1.8em;
    }

    .header_paragraph{
        margin-left: 0px;
        font-size: 14px;
    }

    .header_picture{
        margin: 0;
    }
    
    .header_img{
        width: 400px;
    }

    .section{
        height: 400px;
    }

    .section_container{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .section_picture{
        width: 50%;
        margin: 0;
        padding-left: 40px;
    }

    .section_texts{
        width: 300px;
        margin-top: 0px;
        width: 45%;
        text-align: left;
        padding-left: 40px;
    }

    .section_paragraph{
        padding-left: 0;
        font-size: 14px;
    }

    .section_inverse{
        flex-direction: row-reverse;
    }

    .question{
        top: 1330px;
        left: 230px;
        width: 600px;
        align-items: center;
    }

    .footer_figure{
        margin-left: 57px;
    }

    .footer_container{
        display: flex;
        flex-direction: row;
    }

    .footer_details{
        flex-direction: column;
    }

    .footer_contact{
        width: 350px;
        height: 80px;
        margin: 0;
    }

    .footer_information{
        margin-top: 0px;
        width: 500px;
        padding-left: 40px;
    }

    .footer_items{
        width: 200px;
    }

    .footer_social{
        margin-top: 5px;
    }

}












